@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434b99;
}

header {
    background-color: #161a50;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: solid 3px #979dac;
}
header h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
}

h1 {
    color: black;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Estilos restantes aqui */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #434b99;
} */

header {
    display: flex;
    padding: 20px;
    justify-content: center;
  }

.header a {
    padding: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.header a:hover {
    color: #434b99;
}

main {
    padding: 2em;
}

.disciplinas {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid 3px #979dac;
    max-width: 800px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza a section */
    margin-top: 20px;
}


.descricao {
    margin-bottom: 1em;
}

section h2 {
    text-align: center;
    color: #161a50;
    border-bottom: 2px solid #161a50;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
}

ul li label {
    margin-left: 0.5em;
}

ul li input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

ul li a {
    text-decoration: none;
}

/* Responsivo */
@media (max-width: 768px) {
    header {
        justify-content: space-between; /* Distribui os itens ao longo do cabeçalho */
        padding: 2em; /* Adiciona algum espaçamento */
    }

    .logo-container {
        margin-right: auto; /* Empurra o logotipo para a extrema esquerda */
    }

    nav {
        flex-direction: column;
        align-items: flex-end;
    }

    nav .menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #161a50;
        position: absolute;
        top: 100%;
        right: 0; /* Posiciona o menu à direita */
    }

    nav ul li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: 1em;
    }

    nav ul.active {
        display: flex;
    }
}


